html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  .box {
    width: 200px;
    line-height: 150px;
    margin: auto;
    border: 1px rgb(219, 6, 6) solid;
    border-radius: 5px;
    text-align: center;
    /* Default font size is 16px, so 1.1rem is 17.6px */
    font-size: 1.1rem;
    background-color: red;
    color: white;
    text-shadow: 2px 2px black;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.2) 70%,  rgba(0,0,0,0.2));
    box-shadow: inset 2px 2px 3px rgba(255,255,255,0.6), inset -2px -2px 3px rgba(0,0,0,0.6), 2px 2px 5px black;
  }